<div id ="text-edit">
  <mat-grid-list cols="2" rowHeight ="2:1">
    <mat-grid-tile>
 
          <h3>"Remember, teamwork begins by building trust. And the only way to do that is to overcome our need for invulnerability."
            <br><br>We created this site with the user's perspective in mind. 
            We wanted to offer a platform that would require no coding skills or design 
            experience. We keep it simple, so users can focus on creating an amazing website that reflects their brand.</h3>
          
        </mat-grid-tile>
    
<mat-grid-tile>
  
  <img mat-card-image src="assets/images/home2.jpg" height="300px" width="100px" style="height: 300px; width: 575px; border-radius: 60px;"> 
 
</mat-grid-tile>
</mat-grid-list>
</div>

<div id="btnn">
    <button class="button" style="vertical-align:middle" [routerLink] = "['/user-login']"><span>Host Meeting Now !</span></button>
</div>
<br>
  <!-- <footer> -->
      <div class="footer"> 
    <ul>
        <!-- <div class="text-center">
            <div class="tooltip-wrapper position-relative d-inline-block">
              <img src="assets/images/fb.png" alt="bitmap-icon-image">
            </div>
            <div class="tooltip-wrapper position-relative d-inline-block">
                <img src="assets/images/google.png" alt="bitmap-icon-image">
              </div>
            <div class="tooltip-wrapper position-relative d-inline-block">
                <img src="assets/images/instagram.png" alt="bitmap-icon-image">
              </div>
            <div class="tooltip-wrapper position-relative d-inline-block">
                <img src="assets/images/twitter.png" alt="bitmap-icon-image">
              </div>   
            <div class="tooltip-wrapper position-relative d-inline-block">
                <img src="assets/images/pinterest.png" alt="bitmap-icon-image">
              </div>
              <div class="tooltip-wrapper position-relative d-inline-block">
                  <img src="assets/images/youtube.png" alt="bitmap-icon-image">
                </div>
                <div class="tooltip-wrapper position-relative d-inline-block">
                    <img src="assets/images/linkedin.png" alt="bitmap-icon-image">
                  </div>
          </div> -->
          <div class="text-center">
              <h2 style="color:darkgray"> © 2018 Copyright Muraai Information Technology. </h2>
            </div>
      </ul>
    </div>
      
  <!-- </footer> -->
