<div>
  <mat-toolbar class="example-toolbar " style="background-image: linear-gradient(to right, darkcyan, rgb(0,92,92));padding: 2%;">
    <label style="color: white; font-size: large">{{pageTitle}}</label>
      <mat-tab-group style="padding-left: 14%;position: relative;">
         <mat-tab>
            <ng-template mat-tab-label>
               <a class="nav-link" [routerLink] = "['/welcome']" style="text-decoration: none; color: white; font-size: large;">
                  Guide
               </a>
            </ng-template>
         </mat-tab> 
         <mat-tab>
            <ng-template mat-tab-label>
               <a class="nav-link" [routerLink] = "['/register']" style="text-decoration: none;color: white; font-size: large">
                  Register Room
               </a>
            </ng-template>
         </mat-tab>
         <mat-tab>
            <ng-template mat-tab-label>
               <a class="nav-link" [routerLink] = "['/userdetails']" style="text-decoration: none; color: white; font-size: large">
                  View Details
               </a>
            </ng-template>
         </mat-tab>
      </mat-tab-group>

      <label class="adminname" style="color: rgb(182, 152,152); font-size: small"> {{adminName}} </label>
      <button class="menuicon" mat-icon-button [matMenuTriggerFor] = "menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu = "matMenu">
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span style="font: bold; font-size: large">Signout</span>
        </button>
      </mat-menu>   
   </mat-toolbar>
   <router-outlet></router-outlet>
</div>

<div class="bgimg">
  <div style="padding: 3%;">
    <p class="h11">
      Welcome To Meeting Application
    </p>
      <p class="p1">
          This page will teach how to use this application, 
            and what are the steps to be taken while registering the room.
      </p>
    <!-- <p class="p2">
      Before Registering the room read the instructions carefully.
    </p> -->
  </div>
  <!-- <div style="text-align: center;">
      <img mat-card-image src="" height="400px;" style="opacity: 0.2;">
  </div> -->
  <div style="text-align:center">
    <img mat-card-image src="assets/images/home1.jpeg" id="bgimg" >
  </div>
  <div>
    <p class="p3">
        Here are the steps to register the room
    </p>
    <ul class="ul1">
        <li><label>Step 1:</label> Fill all the details present in the <b>Fill Room Details</b> form, else you cannot be processed further</li>
        <li><label>Step 2:</label> After filling all the details in <b>Fill Room Details</b> form, click next button, which is available below the form. </li>
        <li><label>Step 3:</label> Fill all the details present in the <b>Address</b> form.</li>
        <li><label>Step 4:</label> After filling all the details in <b>Address</b> form, click next button. </li>
        <li><label>Step 5:</label> This will be the last form to fill the details, where all the details regarding equipments needed in the room.</li>
        <ul>
          <li>Select the options what are all the equipments provided during meeting.</li>
        </ul>
        <li><label>Step 6:</label> The Last step is to <b>Register</b> all the detaisl entered.</li>
    </ul>
    <div style="text-align: center;">
        <button mat-raised-button class="regbutton" [routerLink] = "['/register']">
            Register Now
        </button>
    </div>
  </div>
</div>