<div>
  <mat-toolbar class="example-toolbar " style="background-image: linear-gradient(to right, darkcyan, rgb(0,92,92));padding: 2%;">
    <label style="color: white; font-size: large">{{pageTitle}}</label>
      <mat-tab-group style="padding-left: 14%;position: relative;">
         <mat-tab>
            <ng-template mat-tab-label>
               <a class="nav-link" [routerLink] = "['/welcome']" style="text-decoration: none; color: white; font-size: large;">
                  Guide
               </a>
            </ng-template>
         </mat-tab> 
         <mat-tab>
            <ng-template mat-tab-label>
               <a class="nav-link" [routerLink] = "['/register']" style="text-decoration: none;color: white; font-size: large">
                  Register Room
               </a>
            </ng-template>
         </mat-tab>
         <mat-tab>
            <ng-template mat-tab-label>
               <a class="nav-link" [routerLink] = "['/userdetails']" style="text-decoration: none; color: white; font-size: large">
                  View Details
               </a>
            </ng-template>
         </mat-tab>
      </mat-tab-group>

      <label class="adminname" style="color: rgb(182, 152,152); font-size: small"> {{adminName}} </label>
      <button class="menuicon" mat-icon-button [matMenuTriggerFor] = "menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu = "matMenu">
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span style="font: bold; font-size: large">Signout</span>
        </button>
      </mat-menu>   
   </mat-toolbar>
   <router-outlet></router-outlet>
</div>

<div style="text-align: center">
  <mat-horizontal-stepper linear style="padding: 20px;" labelPosition = "bottom">
    <div>
      <mat-step style="color: darkturquoise;background-color: darkcyan;" [stepControl] = "firstFormGroup">
        <form [formGroup] = "firstFormGroup" #stepper1 = "ngForm">
          <ng-template matStepLabel>Fill Room Detail</ng-template>
          <mat-form-field>
            <input type="number" matInput placeholder="Room Id" formControlName = "rid" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="number" matInput placeholder="Room Number" formControlName = "rnumber" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="text" matInput placeholder="Room Name" formControlName = "rname" required>
          </mat-form-field>
          <br>
          <div>
            <button mat-icon-button matStepperNext [disabled] = "!stepper1.valid" >
              <img src="assets/images/arrow_right_black.png">
            </button>
          </div>
        </form>
      </mat-step>
    </div>
    <div>
        <mat-step [stepControl] = "secondFormGroup" >
          <form [formGroup] = "secondFormGroup" #stepper2="ngForm">
            <ng-template matStepLabel>Address</ng-template>
            <mat-form-field>
              <input type="number" matInput placeholder="Building Number" formControlName = "bnumber" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="text" matInput placeholder="Building Name" formControlName = "bname" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Street Name" formControlName = "sname" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Area" formControlName = "area" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Land Mark" formControlName = "lmark" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="number" maxlength="6" matInput placeholder="Pin Code" formControlName = "pincode" required>
            </mat-form-field>
            <br>
            <!-- <mat-form-field>
              <input matInput placeholder="City" formControlName = "city" required>
            </mat-form-field> -->
            <mat-form-field>
              <mat-select placeholder="City" formControlName="selectedValue" required>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <!-- <mat-form-field>
              <input matInput placeholder="State" formControlName = "state" required>
            </mat-form-field> -->
            <mat-form-field>
              <mat-select placeholder="State" formControlName="selectedCar" required>
                <mat-option *ngFor="let car of cars" [value]="car.value">
                  {{car.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <div>
              <button mat-icon-button matStepperPrevious>
                <img src="assets/images/arrow_left_black.png">
              </button>
              <button mat-icon-button matStepperNext [disabled]="!stepper2.valid">
                <img src="assets/images/arrow_right_black.png">
              </button>
            </div>
          </form>
        </mat-step>
      </div>
    <div>
      <mat-step [stepControl] = "thirdFormGroup">
        <form [formGroup] = "thirdFormGroup">
          <ng-template matStepLabel>Items List</ng-template>
          <section style="padding: 25px;">
            <section>
              <mat-checkbox formControlName = "hasprojector">Projector</mat-checkbox>
              <mat-checkbox formControlName = "haswhiteboard">WhiteBoard</mat-checkbox>
              <br>
              <mat-checkbox formControlName = "hasmarker">Marker</mat-checkbox>
              <mat-checkbox formControlName = "hastable">Table</mat-checkbox>
              <br>
              <mat-checkbox formControlName = "hasspeakers">Speaker(s)</mat-checkbox>
            </section>
          </section>
          <mat-form-field style="padding-left: 32px">
            <input type="number" matInput placeholder="No of Seats" formControlName = "noofseats" required>
          </mat-form-field>
          <br>
          <div>
            <button mat-icon-button matStepperPrevious>
              <img src="assets/images/arrow_left_black.png" alt="">
            </button>
            <button mat-button matStepperNext (click)="register()">
              Register
            </button>
          </div>
        </form>
      </mat-step>
    </div>
  </mat-horizontal-stepper>
</div>
