<mat-horizontal-stepper linear style="padding: 20px;" labelPosition = "bottom">
  <mat-step style="color: darkturquoise" [stepControl] = "firstFormGroup">
    <form [formGroup] = "firstFormGroup" #stepper1 = "ngForm">
      <ng-template matStepLabel>Fill Room Detail</ng-template>
      <mat-form-field>
        <input type="number" matInput placeholder="Room Id" formControlName = "rid" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="number" matInput placeholder="Room Number" formControlName = "rnumber" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" matInput placeholder="Room Name" formControlName = "rname" required>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperNext [disabled] = "!stepper1.valid" ><mat-icon>right</mat-icon>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl] = "secondFormGroup" >
    <form [formGroup] = "secondFormGroup" #stepper2="ngForm">
      <ng-template matStepLabel>Address</ng-template>
      <mat-form-field>
        <input type="number" matInput placeholder="Building Number" formControlName = "bnumber" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="text" matInput placeholder="Building Name" formControlName = "bname" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Street Name" formControlName = "sname" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Area" formControlName = "area" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Land Mark" formControlName = "lmark" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="number" maxlength="6" matInput placeholder="Pin Code" formControlName = "pincode" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="City" formControlName = "city" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="State" formControlName = "state" required>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperPrevious><mat-icon>previous</mat-icon></button>
        <button mat-button matStepperNext [disabled]="!stepper2.valid"><mat-icon>right</mat-icon>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl] = "thirdFormGroup">
    <form [formGroup] = "thirdFormGroup">
      <ng-template matStepLabel>Items List</ng-template>
      <section style="padding: 25px;">
        <mat-checkbox class="example-margin" formControlName = "hasprojector">Projector</mat-checkbox>
        <mat-checkbox class="example-margin" formControlName = "haswhiteboard">WhiteBoard</mat-checkbox>
        <br>
        <mat-checkbox class="example-margin" formControlName = "hasmarker">Marker</mat-checkbox>
        <mat-checkbox style="margin-left: 24px;" formControlName = "hastable">Table</mat-checkbox>
        <br>
        <mat-checkbox class="example-margin" formControlName = "hasspeakers">Speaker(s)</mat-checkbox>
      </section>
      <mat-form-field style="padding-left: 32px">
        <input type="number" matInput placeholder="No of Seats" formControlName = "noofseats" required>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperPrevious><mat-icon>right</mat-icon>Back</button>
        <button mat-button matStepperNext (click)="register()">Register</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
