.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  mat-step-header{
    background-color: darkcyan;
    color: white;
}


.positionforlabel
{
    float: right;
    padding-left: 40%;
}

mat-tab
{
    padding-left: 10px;
}

.fill-space {
    /* This fills the remaining space, by using flexbox.
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .adminname
  {
    position: absolute;
    right: 45px;
  }

  .menuicon
  {
    right: 15px;
    position: absolute;
    color: rgb(189,189,189);
  }